<% if(user.bookmark.length>0) {%>
    <% for(var z=0; z<user.bookmark.length; z++) {%>
            <!-- <h1><%= bookmarks.length%></h1> -->
            <% if(doctors[i]._id = user.bookmark[z].doctor){%>
                <a href="#0" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="wish_bt bookmarked" ></a>
            <% } else { %>
                <a href="#0" id="bookmark-add" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="wish_bt"><input class="form-control" type="hidden" id="doctor_id" name="doctor_id" value="<%= doctors[i]._id%>"></a>
            <%}%>
    <%}%>
<%}%>
<% if(user.bookmark.length>0) {%>
    <% for(var z=0; z<user.bookmark.length; z++) {%>
            <!-- <h1><%= bookmarks.length%></h1> -->
            <% if(doctors[i]._id = user.bookmark[z].doctor){%>
                <a href="#0" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="wish_bt bookmarked" ></a>
            <% } else { %>
                <a href="#0" id="bookmark-add" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="wish_bt"><input class="form-control" type="hidden" id="doctor_id" name="doctor_id" value="<%= doctors[i]._id%>"></a>
            <%}%>
    <%}%>
    
    <% } else { %>
        <a href="#0" id="bookmark-add" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="wish_bt"><input class="form-control" type="hidden" id="doctor_id" name="doctor_id" value="<%= doctors[i]._id%>"></a>
<%}%>



<%var bookmark = user.bookmark %>

<%for(var i=0; i<doctors.length; i++) {%>
	<% if(bookmark.length>0){ %>
		<% for(var z=0; z<bookmark.length; z++){ %>
			<% if(doctors[i]._id == bookmark[z].doctor){ %>
			   console.log('cong!')
			   <% } else {%>
						   console.log('bookmark1')
						   <%}%>
		<%}%>
	<%} else {%>
		console.log("bookmark")
	<%}%>
<%}%>