<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ansonika">
  <title>FINDOCTOR - Admin dashboard</title>
	
  <!-- Favicons-->
  <link rel="shortcut icon" href="/panel/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="/panel/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/panel/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/panel/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/panel/img/apple-touch-icon-144x144-precomposed.png">
	
  <!-- Bootstrap core CSS-->
  <link href="/panel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon fonts-->
  <link href="/panel/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Plugin styles -->
  <link href="/panel/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Main styles -->
  <link href="/panel/css/admin.css" rel="stylesheet">
  <!-- Your custom styles -->
  <link href="/panel/css/admin.css" rel="stylesheet">
	<style>
    .item-preview {
    position: relative;
    }
    .mb-5, .my-5 {
        margin-bottom: 3rem!important;
    }
    .item-preview a.item-preview-img {
    transition: .15s box-shadow,.15s transform;
    border-radius: .5rem;
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15), 0 0 1.5rem 0.5rem rgba(33,37,41,.05);
    overflow: hidden;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }
    .d-block {
        display: block!important;
    }
    a {
        color: #dd3d31;
        text-decoration: none;
        background-color: transparent;
    }
    .img-fluid {
    max-width: 100%;
    height: auto;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }
    .item-preview .item-preview-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    }
    .item-preview .item-preview-description {
    font-size: .8rem;
    color: rgba(33,37,41,.7);
    }
    .item-preview a.item-preview-img:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
    }
  </style>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<%- include ./partials/panel/header %>
  <div class="content-wrapper">
    <div class="container-fluid">
    <%- include ./partials/panel/breadcrumb %>
    <%- body -%>
    <%- include ./partials/panel/footer %>
    </div>
    </div>
    <%- include ./partials/panel/scripts %>


</body>
</html>